@import 'bootstrap/dist/css/bootstrap';

/* .navbar-brand {
    font-size: 3.3em;
} */

.search-area {
    padding-top: 50px;
}


.no-right-padding {
    padding-right: 2px !important;
}

.no-left-padding {
    padding-left: 2px !important;
}
